.container {
  max-width: 1250px;
  padding: 0 25px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.header {
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  width: auto;
  background: var(--background-color);
}
[data-theme="dark"] .header {
  background: rgb(227, 242, 255);
}
[data-theme="light"] .header {
  background: rgb(7, 31, 52);
}
.header .row {
  display: flex;
  justify-content: space-between;
}
.header .col .btn-world,
.header .col .btn-theme {
  background: var(--background-color);
  color: var(--text-color);
}
.homepage {
  margin-top: 20px;
}
.homepage .row {
  display: flex;
  justify-content: space-between;
}
